h3 Enroll Success!

p You have successfully been enrolled in the course #{coursename}

p Your registered courses are: #{courses}

p
  a(href='/student/') Click here 
  | to return to your Dashboard