title UCMS Home
h1(style='text-align: center') University Course Management System (UCMS)
br
// single form for both faculty and student logins?
form(action='/student', method='POST')
  fieldset(style='text-align: center;')
    legend Student Login
    br
    | Registration Number: 
    br
    input#regno(type='text', name='regno')
    br
    | Password: 
    br
    input#pwd(type='password', name='pwd')
    br
    input(type='submit', name='submit', value='Submit')
