h1(style='text-align:center') UCMS Student Dashboard
br
// Try changing this header dynamically to name of Student logged in
h3#stud-header Welcome Student #{studname}

br
br
a(href='/student/allcourses') View status of all courses
br
a(href='/student/enroll') Enroll in a course
br
a(href='/student/showenrolled') View enrolled courses
br
a(href='/student/unenroll') Un-enroll from a course
